.Container {
    height: 100px;
    width: 100%;
    text-align: end;
    align-content: space-around;
    flex-wrap: wrap;
    display: flex;
    h1, h3{
        flex: 0 1 100%;
        padding-right: 20px;
    }
}